<table class='table'>
  <tr><%= image_tag user.get_user_image(100, 100) %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
    <th>フォロー数:  <%=link_to user.followings.count, user_followings_path(user) %></th>
  </tr>
  <tr>
  <th>フォロワー数:  <%=link_to user.followers.count, user_followers_path(user) %></th>
  </tr>
</table>

<!-- ゲストユーザーの時にはユーザーのプロフィール編集ボタンを表示させない -->
<% unless user.guest_user? %>
  <div class="row">
    <%= link_to '',edit_user_path(user),class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{user.id}" %>
  </div>
<% end %>

<!-- 現在のユーザーと表示対象のユーザーが異なる場合にフォローボタンを表示し、同じ場合はユーザーのプロフィール編集ボタンを表示 -->
<% if current_user != @user %>
  <td><%= render "follow_btn", user: user, options: { class: ""} %></td>
<% else %>
  <%= link_to edit_user_path(@user), class: "btn btn-outline-secondary btn-block" do %>
    <i class="fas fa-user-cog"></i>
  <% end %>
<% end %>
