<table class='table'>
  <tr><%= image_tag user.get_user_image(100, 100) %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
    <th>フォロー数:  <%=link_to user.followings.count, user_followings_path(user) %></th>
  </tr>
  <tr>
  <th>フォロワー数:  <%=link_to user.followers.count, user_followers_path(user) %></th>
  </tr>
 
</table>
